


:root{

    --widht:85%;
    --margin:7.5%;
}

html{


   
    
    margin-top: 0px;
}

body{
     
    margin: 0px;
    padding: 0px;

    
}

#head{
    /* background-color:; */
    background-color:rgb(12,15,18);
    color:white;
    height: 100vh;
    text-transform: capitalize;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
    
    
}



#navbar{
     padding-top: 10px;
     display: flex;
     margin-bottom: 30px;
     align-items: center;
     /* background-color: rgb(34,36,40); */
     height: 70px;
     width: 100%;
     position: absolute;
     /* border-top: 3px solid red; */
}


#sider{

   background-color: rgb(12,15,18);
}

#sidericon{

    font-size: 1.4rem;
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

#sidericon:hover{

    color:lightgray;
}

#quickaccess{

    position: absolute; 
    bottom: 10px;
    left: 0px;
    border-top: 1px solid rgb(45,47,51);
    width: 100%;
}

#offcanvasNavbar{


    background-color:rgb(12,15,18); 
    width: 22%;
    color: white;
}
#userimage{

    width: 35px; 
    height: 35px;
    opacity: 1;
}

#userimage2{

    width: 35px; 
    height: 35px;
    position: absolute;
    left: 18px;
    opacity: 0;
}

#loginuser{

    font-weight: bold;
}

#title{

    color: white;
}

#title:hover{

    color: lightgray;
}

#logo{
    display: flex;
    margin-left: 35px;
    align-items: center;
    width: 153px;
    margin-bottom: 10px;
    
   
}
#logoimage{
    
    border-radius: 22%;
    width: 45px;
    height: 45px;
    margin-top: 10px;
        
}

#logoname{

    color:rgb(250,50,53);
    font-size: 1.7rem;
    
}

#navpart2{
   
    position: absolute; 
    display: flex;
    right: 70px;
    width: 30%;
   align-items: center;
   justify-content: space-between;
    
}
#searchbar{
     
    position: relative;
    background-color:rgb(12,15,18) ;
    width: 35%;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    border: 1px solid rgb(117,117,117);
    margin-bottom: 8px;
    
}
#searchinput{
    
    border: none;
    background-color:rgb(12,15,18);
    outline: none;
    color: white;
    width: 90%;
    font-size: 0.8rem;
    position: absolute;
    left: 30px;
    text-transform: capitalize;
}

#searchlogo{
    color: rgb(117,117,117);
    position: absolute;
    left: 11px;
    top: 11px;
    margin-right: 20px;
    font-size: 0.8rem;
}

#navpart2 i{

    font-size: 1.5rem;
    margin-right: 40px;
    position: relative;
    
}

#lightmode{

    position: absolute;
    left: 100px;
    bottom: 8px;
    width: 20px;
    height: 20px; 
    opacity: 1;
    top: -20px;
}

#darkmode{

    opacity: 0;
    position: absolute;
    left: 40px;
    bottom: 8px;
    font-size: 0rem;
    color: rgb(117,117,117);
      
    

}

#language{

     width: 40px;
     height: 40px;
     position: relative;
     color:rgb(117,117,117) ;
     margin-right: 5px;
     bottom: 7px;
   }

#english{
    position: absolute;
    font-size: 0.9rem;
    top:30%;
    left :22px
} 

#hindi{
     top:5px;
     right: 17px;
     position: absolute;
     font-size: 0.9rem;
}


#podcast{

   width: 110px;
   position: relative;
   height: 35px;
   left: 85px;

}
#podcast:hover{

    color:lightgrey;
}

#new{

     background-color: red;
    font-size: 0.6rem;
    border-radius: 3px;
    font-weight: bold;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 27px;


}

#login{

    position: absolute; 
    left: 70px; 
    margin-top: 3px; 
    font-size: 1rem;
     font-weight: bold;
}

#login:hover{

    color:lightgrey;

}

#sectiondivider{

    display: flex;

}
#main{
    margin-left: 0%;
    width: 100%;
    height: 85vh;
    overflow: scroll;
    margin-top: 80px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}


#main::-webkit-scrollbar{

    width: 0px;
}

/* HEADINGS */

h3{
    margin-left: 7.5%;
    position: relative;
     bottom: 10px;
     display: flex;
     justify-content: space-between;
}

h3 p{

     
     font-size: 1rem;
     color: red;
     position: absolute;
     right: 8%;
     bottom: -20px;
}

/* HEADER IMAGE */

#headerimage{
 
  
    overflow-x: scroll;
    margin-top: 20px;
    position: relative;
    width: 100%;  
    margin-bottom: 40px;  

}

#slider{

    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running; 
    position: relative;
    width: 100%;
    display: flex;


}

 @-webkit-keyframes slide_animation{

    0%{right: 700px;}
    1%{right: 700px;}
    5%{right: 700px;}
    10%{right: 1600px;}
    13%{right: 1600px;}
    15%{right: 1600px;}
    20%{right: 2500px;}
    23%{right: 2500px;}
    25%{right: 2500px;}
    30%{right: 3400px;}
    100%{right: 3400px}
   
} 


#headerimage::-webkit-scrollbar{
   width: 0;
}


.himage{
 
border-radius: 20px;
width: 100%;
margin-left: 1%;
margin-right: 1%;

    
}

#latestrelease{

      width: 85%;
      margin-top: 25px;
}



#songimage{
   
    border-radius: 8%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}


#playlistheader{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}

 #latestplaylist{
    
     border: 2px solid white;
     position: relative;
     display: flex;
     width: 50%;
}

#songname{
 
      position: absolute;
      left: 30%;
      top: 25%;
}

#adjuster{
    margin-top: 20px;
    display: flex;
    width: 100%;
}
#daterelease{
  
     position: absolute;
     top: 50%;
     left: 30%;
     font-size: 0.8rem;
}
.dropdown{
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
}   


.dropdown-item i{
    margin-right: 10px;
} 
#popular-artist{
    margin-top: 20px;
    display: flex;
    width: var(--widht);
    margin-left: var(--margin);
    justify-content: space-between;
    margin-bottom: 40px;
    overflow: hidden;
    
}

.artistsimage{

    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

#artist1{
    position: relative;
    height: 180px;
}

#artist1 p{
     
    position: absolute;
    right: 30px;
    bottom: -20px;
    font-size: larger;
}

/* HOVER */


.hovers4{
    width: 150px; 
    position: absolute; 
    height: 150px;
    background: linear-gradient(180deg, transparent , black );
    transition: 0s;
    top: 0;
    left: 0;
    border-radius:50%;
    opacity: 0;
       
}


.hovers4:hover{

     opacity: 1;
}

/* SONGS CARDS */

#songscard{

     display: flex;
     justify-content: space-between;
     margin-bottom: 60px;
     margin-top: 60px;
     width: var(--widht);
     margin-left: var(--margin);  

     }

#card1{

     width:32%;
     height: 220px;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
     opacity: 0.9;
     position: relative;
     overflow: hidden;
  
}

#card1 p{
    position: absolute;
}

#card1 img{
 
     width: 100%;
     height: 220px;
     position: absolute;
     transition: 0.1s ease-in-out;
}


#card1 img:hover{

  transform: scale(1.3);

}


#card2{

    position: relative; 
     width:32%;
     height: 220px;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
     font-weight: 2rem;
     overflow: hidden;
     
}

#card2 img{

    
    width: 100%;
    height: 220px;
    position: absolute;
    transition: 0.1s ease-in-out;

}

#card2 img:hover{

    transform: scale(1.3);
  
  }


#card2 p{
    position: absolute;
}
#card3{

   position: relative;
    width:32%;
    height: 220px;
    background-position: center;
    background-size: cover;
    display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
     opacity: 0.9;
     overflow: hidden;
    
}

#card3 img{

    
    width: 100%;
    height: 220px;
    position: absolute;
    transition: 0.1s ease-in-out;

}

#card3 img:hover{

    transform: scale(1.3);
  
  }

#card3 p{
   
     position: absolute;
}  

/* MAJOR   */

.latestenglish{

    display: flex;
    width: var(--widht);
    margin-left: var(--margin);
    justify-content: space-between;
    margin-bottom: 30px;
    overflow-x: scroll;

}

.latestenglish::-webkit-scrollbar{
    width: 0;
}

#song{
   
    width :172px;
    margin-right: 22px;
    position: relative;
    
}



.playbutton2{

    background-color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    position: absolute;


}

.hovers{
    opacity: 0;
    width: 100%; 
    position: absolute; 
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent , black );
    border-radius: 7%;
    transition: 0s;
    top: 0;
}

.hovers:hover{

     opacity: 1;
}
#song p{
    color:rgb(95,103,110);
    margin-top: -5px;
}
.songimage2{
    
    border-radius: 8%;
    width: 172px;
    height: 170px;
    
}


#aside{
    
    top: 15vh;
    right: 40px;
    width: 0%;
    position: absolute;
    height: 80vh;
    overflow: hidden;
}


.dropdown2 button{
   
     background-color: transparent;
     border: none;
     outline: none;
     color: white;
     position: absolute;
     top: 1px;
     right: 15px;

}

.dropdown2 button:hover{
   
    background-color: transparent;
    border: none;
    outline: none;
    color: white;

}

#playlist i{

     position: absolute;
     right: 0px;
     top: 10px;
     font-size: larger;
     color:rgb(95,103,110);
}

#queuelist{
    width: 100%;
    height: 73vh;
    overflow: scroll;
    margin-top: 25px;
    /* border: 2px solid red; */

    
}

#queuelist::-webkit-scrollbar{

     width: 0px;
}

#box1{
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
#boximage{
    
     width: 50px;
     height: 50px;
     position: absolute;
     left: 10px;
     top: 6px;

}

#boxheading{
    
    position: absolute;
    left: 75px;
    top: 10px;
    

}

#boxp{
   
    font-size: 0.7rem;
    position: absolute;
    left: 75px;
    top: 30px;
    color: rgb(95,103,110);
}

#boxicon{
 
    position: absolute;
    right: 2px;
    top: 19px;
    font-size: larger;
}

.hovers3{
    opacity: 0;
    width: 50px; 
    position: absolute; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent , black );
    transition: 0s;
    left: 10px;
    top: 6px;
    
}


.hovers3:hover{

     opacity: 1;
}


#musicbar{
    position: fixed;
    bottom: 7px;
    display: flex;
    right: 8%;
    width: 85%;
    background-color:rgb(34,36,40);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border: 1px solid rgb(61,70,77);
    border-radius: 5px;
    opacity: 0;

}


#playpause{

    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    position: absolute;
    left: 38%;
    color:rgb(157,160,163) ;
    bottom: 20px;
}

#playn{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;

}

#pause{

    position: absolute;
    color: white;
    left: 6.9rem;
    font-size: 1rem;
    opacity: 1;
}

#play{
    opacity: 0;
    font-size: 0px;
}

#duration{

    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    color: rgb(157,160,163);
    margin-right: 5px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#duration p{

    position: relative;
    top: 7px;
    font-size: 0.9rem;
}

#duration button{

    background-color: transparent;
    border: 1px solid rgb(237,28,36);
    color:rgb(237,28,36);
    width: 55px;
    height: 23px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: clibri;


}

.recent_volume{
   
    
}

#volume{

    transform: rotate(90deg);
  
    position: absolute;
    margin-bottom: 65%;
    margin-left: 50%;
    background-color:red;
    display: flex;
    opacity: 0;
}

#playbar{
    
    height: 4px;
    width: 100%;
    bottom: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    opacity: 1;
}


/* 
#playbar input[input="range"]::-webkit-slider-thumb{
   
    appearance: none; 
    
} */


#playbar input[type="range"]{
    
     
     width: 100%;
     
     
}

input[type="range"]::-webkit-slider-thumb{

    
    -webkit-appearance: none;
     height: 100px;
     cursor: pointer;
}

#playbutton{

    background-color:rgb(237,28,36);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}

#songdetail{

    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
}

#songdetail div h6{
    position: absolute;
    left: 6.5%;
    top: 16px;
}



#playimage{
   
     width: 43px;
     height: 47px;
     border-radius: 5px;
     position: relative;
     left: -22%;
     bottom: 3px;
}




/* top latin music */
#latestenglish1{

    display: flex;
    width: var(--widht);
    margin-left: var(--margin); 
    justify-content: space-between;
    margin-bottom: 30px;
    overflow-x: scroll;
}

#latestenglish1::-webkit-scrollbar{
    width: 0;
}

#song1{
   
    width :160px;
    margin-right: 22px;
    position: relative;
    
}

.playbutton3{

    background-color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    position: absolute;


}

#hovers1{
    opacity: 0;
    width: 100%; 
    position: absolute; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent , black );
    border-radius: 7%;
    transition: 0s;
    top: 0;
}


#hovers1:hover{

     opacity: 1;
}
#song1 p{
    color:rgb(95,103,110);
    margin-top: -5px;
}
#songimage3{

     
    border-radius: 8%;
    width: 145px;
    height: 150px;
    

}


/* indie  */

#latestenglish2{

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: var(--widht);
    margin-left: var(--margin);
    overflow: hidden;
  
}



.song2{
   
    width :180px;
    margin-right: 15px;
    position: relative;
    height: 180px;
    background-color:rgb(255,45,130);
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    
}

#song2 p{

     margin-top: 5px;
     font-size: 1.4rem;
     font-family: calibri;
}



.songimage4{

     
    width: 170px;
    height: 120px;
    margin-top: 5px;
    

}

#playbutton4{

    background-color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    position: absolute;


}

#hovers2{
    opacity: 0;
    width: 100%; 
    position: absolute; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent , black );
    border-radius: 7%;
    transition: 0s;
    top: 0;
    left: 0;
}


#hovers2:hover{

     opacity: 1;
}






/* FOOTER  */


#footer{
     
     width: 85%;
     display: flex;
     flex-direction: column;
     height: auto;
     margin-top: 50px;
     margin-left: 7.5%;
    
}

#advertisement{

    width: 100%;
    background-color: rgb(33,37,45);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

#adpara{
    width: 80%;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    /* color: rgb(156,158,152); */
    color: white;
    word-spacing: 3px;
    text-transform: none;

}



#slotshead{

    width: 100%;
   display: flex;
   /* background-color: black; */
   justify-content: space-between;
   flex-wrap: wrap;
   
}

#fheading{

    margin-left: 40%;
    margin-bottom: 40px;
}

#slots{

    font-size: 0.8rem;
    margin-right: 8%;
}
#slots p{
    margin-bottom: 5px;
    color: rgb(156,158,152);
}

#tcbar{
 
      width: 100%;
      margin-top: 40px;
      margin-bottom: 20px;
      height: 70px;
      border-top: 1px solid rgb(55,65,81);
      border-bottom: 1px solid rgb(55,65,81);
      display: flex;
      justify-content: space-between;
      align-items: center;

}

#tc{
    display: flex;
    width: 70%;
    justify-content: space-between;
    height: auto;
    margin-top: 17px;
    margin-left: 15px;

}

#tc p{
    color: rgb(156,158,152);
}

#socialicons{
    display: flex;
    justify-content: space-between;
    width: 12%;
    margin-right: -14%;
}

#icons{

    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#icons2{

    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#icons3{

    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}




/* RESPONSIVE to mobile */


@media (max-width:600px) {
       
    /* navbar */
   
     #navbar{

        border-top: 2px solid red;
     }
    #searchbar{

    
        overflow: hidden;
        opacity: 0;
    }

    #navpart2{

        width: 70%;
        right: 10px;
    }
    #podcast{

        width: 0;
        overflow: hidden;
    }
    #loginuser{

        font-size: 0.8rem;
    }
    #lightmode{

        left:130px;
    }

    #language{

        width: 0;
        overflow: hidden;
    }
    #logo{
   
          margin-left: 30px;
          width: 145px;

    }
    #logoimage{

        width: 40px ;
        height:40px ;
    }
    #logoname{

          
    }

    #login{

        left:50px;
        font-size: 0.9rem;
        margin-top:5px;
        margin-left: 5px;
    }
    #userimage2{

        left: 5px;
    }
    #userimage{
     
         margin-left: -10px;
        
    }
    #quickaccess{

        width: 0;
        overflow: hidden;
    }



    /* header image */
    
    .himage{
   
         width: 80%;

    }

    #slider{

        -webkit-animation-name: slide_animation;
        -webkit-animation-duration: 60s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:alternate;
        -webkit-animation-play-state:running; 
        position: relative;
        width: 100%;
        display: flex;
    
    
    }
    
     @-webkit-keyframes slide_animation{
    
        0%{right:180px;}
        1%{right: 180px;}
        5%{right: 400px;}
        10%{right: 400px;}
        13%{right: 600px;}
        15%{right: 600px;}
        20%{right: 600px;}
        23%{right: 800px;}
        25%{right: 800px;}
        30%{right: 600px;}
        100%{right: 600px}
       
    } 

    #sidericon{

        color: red;
    }


    #offcanvasNavbar{


         
        width:50%;
    }

    /* main */
   
    /* popular artists */
    
    #popular-artist{
        width: 100%;
       margin-left: 0;
       overflow: unset;
       flex-wrap: wrap;
       padding-left: 42px;
       padding-right: 42px; 
       justify-content: center;
       row-gap: 30px;
       margin-bottom: 50px;
       justify-content: space-between;
        
    }

    
     .artistsimage{

       border-radius: 50%;
       width: 140px;
       height: 140px;
       
    
      }

      
    .hovers4{
       width: 140px; 
       height: 140px;
    }
    
     #songscard{

      width: 0;
      overflow: hidden;
      position: absolute;  

    }

     /* major colums */

    .latestenglish{

        width: 100%;
        margin-left: 0;
        overflow: unset;
        flex-wrap: wrap;
        padding-left: 22px;
        padding-right: 10px; 
        justify-content: center;
        row-gap: 30px;
        margin-bottom: -100px;
       
       
    
    }

    .hovers{
      
         
         height: 140px;
      
        }

    #song p{
        color:rgb(95,103,110);
        margin-top: -5px;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    #song h6{
        margin-top: 10px;
        margin-left: 5px;
    }
    
    #song{
   
      width :140px;
      position: relative;
    
    }

    .songimage2{
    
       
        width: 140px;
        height: 140px;
        
    }


    .responsive{

        width: 0%;  
        overflow: hidden;
        height: 0;
        position: absolute;
    }

    /* all time favourite */
    
    #latestenglish1{

     
        width: 100%;
        margin-left:0; 
        overflow: unset;
        flex-wrap: wrap;
        padding-left: 22px;
        padding-right: 10px; 
        justify-content: center;
        row-gap: 30px;
        margin-bottom: -100px;
       

    }
    #song1{
   
        width :140px;    
        
    }

    #song1 h6{
        margin-top: 10px;
    }

    #songimage3{
        width: 140px;
        height: 140px;
    }


 
    /* indie music */
 
   #latestenglish2{

    width: 100%;
    margin-left: 0;
    overflow: unset;
    flex-wrap: wrap;
    padding-left: 22px;
    padding-right: 10px; 
    justify-content: center;
    row-gap: 30px;
    margin-bottom: 40px;
    
   

    
  
   }

   .song2{
   
    margin-top: 10px;
    width :140px;
    height: 140px;
    
        
   }
   .songimage4{

     
     width: 130px;
     height: 90px;
     margin-top: 5px;
    

   }
   #responsive{

    width: 0%;  
    overflow: hidden;
    height: 0;
    opacity: 1;
    position: absolute;
}
  
  /* footer */
  

 #footer{

    margin-top: 20px;
 } 
 #advertisement{

    width: 100%;
    height: 150px;
    
}

   #adpara{
     width: 80%;
     font-size: 0.9rem;
     word-spacing: 3px;
     text-align: justify;

}


}
















































































































































































































